.loginFrame {
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

a {
  color: #737373;
}

.frame {
  border: 3px solid #F7786B;
  border-radius: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
