body {
  margin: 0;
  padding: 0;
}

/*head*/
.subhead {
	color: #666666 !important;
	font-weight: normal;
	padding-top: 15px;
	padding-bottom: 8px;
	border-bottom: 2px #F7786B solid;
}
/*form-horizontal*/
.form-horizontal > .form-group > label {
	color: #666666 !important;
}

/*position*/
.center {
	left: 50%;
	top: 50%;
	position: absolute;
}
/*cus-button*/
.greyBtn {
  background-color: #b3b3b3;
  color: white;
}

.greyBtn:hover, .greyBtn:active {
  background-color: #808080;
  color: white;
}

.pinkBtn {
	color: #ffffff;
	background-color: #faa79e !important;
}

.pinkBtn:hover {
	color: #ffffff;
	background-color: #f99186 !important;
}

/*padding*/
.pt {
	padding-top: .5em;
}
.pt1 {
	padding-top: 1em;
}
.pt2 {
	padding-top: 2em;
}
.pt3 {
	padding-top: 3em;
}
.pt4 {
	padding-top: 4em;
}
.pt5 {
	padding-top: 5em;
}
.pb {
	padding-bottom: .5em;
}
.pb1 {
	padding-bottom: 1em;
}
.pb2 {
	padding-bottom: 2em;
}
.pb3 {
	padding-bottom: 3em;
}
.pb4 {
	padding-bottom: 4em;
}
.pb5 {
	padding-bottom: 5em;
}
