.inventoryAddBtn {
	position: fixed;
	border-radius: 50%;
	right: 1em;
	bottom: 1em;
	width: 55px;
	height: 55px;
	z-index: 1;
}

.inventoryAddBtn:hover {
	transform : scale(1.1);
	transition : 150ms;
}
